Source: kodi-inputstream-ffmpegdirect
Priority: extra
Maintainer: Ross Nicholson <phunkyfish@gmail.com>
Build-Depends: debhelper (>= 10.0.0), cmake, kodi-addon-dev, kodi-ffmpeg-dev,
               libbz2-dev, libz3-dev, pkg-config, yasm, zlib1g-dev
Standards-Version: 4.0.0
Section: libs
Homepage: <https://kodi.tv>

Package: kodi-inputstream-ffmpegdirect
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FFmpegDirect inputstream addon for Kodi
 This is the FFmpegDirect inputstream addon for Kodi for streams opened by libavformat

