<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="inputstream.ffmpegdirect">

    <!-- Timeshift -->
    <category id="timeshift" label="30020" help="30620">
      <group id="1" label="30020">
        <setting id="timeshiftBufferPath" type="path" label="30021" help="30621">
          <level>0</level>
          <default>special://userdata/addon_data/inputstream.ffmpegdirect/timeshift</default>
          <constraints>
            <allowempty>true</allowempty>
            <writable>true</writable>
          </constraints>
          <control type="button" format="path">
            <heading>657</heading>
          </control>
        </setting>
        <setting id="timeshiftEnableLimit" type="boolean" label="30022" help="30622">
          <level>2</level>
          <default>true</default>
          <control type="toggle" />
        </setting>
        <setting id="timeshiftOnDiskLength" type="number" parent="timeshiftEnableLimit" label="30023" help="30623">
          <level>0</level>
          <default>1</default>
          <constraints>
            <minimum>0.25</minimum>
            <step>0.25</step>
            <maximum>24</maximum>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="timeshiftEnableLimit">true</dependency>
          </dependencies>
          <control type="slider" format="number">
            <formatlabel>30024</formatlabel>
          </control>
        </setting>
      </group>
    </category>

    <!-- HTTP Proxy -->
    <category id="httpProxy" label="30000" help="30600">
      <group id="1" label="30001">
        <setting id="useHttpProxy" type="boolean" label="30002" help="30601">
          <level>1</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="httpProxyHost" type="string" parent="useHttpProxy" label="30003" help="30602">
          <level>1</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="useHttpProxy">true</dependency>
          </dependencies>
          <control type="edit" format="string" />
        </setting>
        <setting id="httpProxyPort" type="integer" parent="useHttpProxy" label="30004" help="30603">
          <level>1</level>
          <default>8080</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>65535</maximum>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="useHttpProxy">true</dependency>
          </dependencies>
          <control type="edit" format="integer" />
        </setting>
        <setting id="httpProxyUser" type="string" parent="useHttpProxy" label="30005" help="30604">
          <level>1</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="useHttpProxy">true</dependency>
          </dependencies>
          <control type="edit" format="string" />
        </setting>
        <setting id="httpProxyPassword" type="string" parent="useHttpProxy" label="30006" help="30605">
          <level>1</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="useHttpProxy">true</dependency>
          </dependencies>
          <control type="edit" format="string">
            <hidden>true</hidden>
          </control>
        </setting>
      </group>
      <group id="2" label="30007">
        <setting id="streamBandwidth" type="integer" label="30008" help="30606">
          <level>1</level>
          <default>0</default>
          <constraints>
            <minimum label="351">0</minimum>
            <step>512</step>
            <maximum>102400</maximum>
          </constraints>
          <control type="list" format="string">
            <formatlabel>14048</formatlabel> <!-- kbps-->
          </control>
        </setting>
      </group>
    </category>

    <!-- Advanved -->
    <category id="advanced" label="30040" help="30640">
      <group id="1" label="30041">
        <setting id="allowFFmpegLogging" type="boolean" label="30042" help="30641">
          <level>2</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
        <setting id="probeForFps" type="boolean" label="30043" help="30642">
          <level>2</level>
          <default>true</default>
          <control type="toggle" />
        </setting>
        <setting id="enableTeletext" type="boolean" label="30044" help="30643">
          <level>2</level>
          <default>true</default>
          <control type="toggle" />
        </setting>
        <setting id="useFastOpenForManifestStreams" type="boolean" label="30045" help="30644">
          <level>2</level>
          <default>true</default>
          <control type="toggle" />
        </setting>
        <setting id="forceRealtimeOffCatchup" type="boolean" label="30046" help="30645">
          <level>2</level>
          <default>false</default>
          <control type="toggle" />
        </setting>
      </group>
    </category>
  </section>
</settings>
